<h3>Login</h3>


<%= form_for @user do |f| %>

<div>
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>


<div>
	<%= f.label :password %>
	<%= f.password_field :password %>
</div>

<div>
	<%= f.submit "Sign In!" %>
</div>

<% end %>