<div id="admin-show">

	<div class="container" id="pending">
	
	<div>pending pickups</div>
	<%= form_tag("/pickups/complete/", :method => "post") do %>

		<ul>
			<% @pending_pickups.each do |pickup| %>
				<li><%= pickup.id %> <%= pickup.date %> <%= check_box_tag "pickups_check_box[]",pickup.id %> </li>
			<% end %>
		</ul>
		<%= submit_tag("Complete Pickups", :class=>"btn btn-success") %>
		<% end %>
	</div>

	<div class="container" id="completed">
	
	<div>completed pickups</div>
		<ul>
			<% @completed_pickups.each do |pickup| %>
				<li><%= pickup.id %></li>
			<% end %>
		</ul>

	</div>

</div>