<header>
	<%= render "shared/menu" %>

	<strong>Current Cashout Balance:</strong>
	<button>Ca$hout</button>
	<button>Donate</button>
	<br/>
	<select>
  		<option value="bank-acct1">xxxx-9641</option>
  		<option value="bank-acct2">xxxx-2810</option>
  		<option value="donate">Donate to this weeks charity of choice!</option>
  	</select>
</header>
	<h4>Currently Scheduled Pickup:</h4>
	<div id="pickup-scheduler">
			<%= form_for @pickup do |f| %>
		<div>
			<%= f.label :date %>
			<%= f.text_field :date, id: "datepicker" %>
		</div>		

 	<script>
	  
	  $(function() {
	    $( "#datepicker" ).datepicker();
	    minDate: 0
	    dateFormat: 'dd-mm-YYYY'
	  });
	   
	  </script>		



	<%= f.submit "Submit these changes!" %>
	<% end %>
	</div>

	<div id="confirmations">
	<strong>Previous Successful Pickups!</strong>
		<table>
		  <tr>
		    <th>Date</th>
		    <th>Amount Earned</th>
		  </tr>
		  <tr>
		    <td>4-20-15</td>
		    <td>$100</td>
		  </tr>
		</table>

	</div>

	<div id="charities">
		<table>
		  <tr>
		    <th>This Week's Charities</th>
		  </tr>
		  <tr>
		    <td>charity 1</td>
		    <td>charity 2</td>
		    <td>charity 3</td>
		  </tr>
		</table>
	</div>