<header>
	<%= render "shared/menu" %>

	<strong>Current Cashout Balance:</strong>
	<button>Ca$hout</button>
	<button>Donate</button>
	<br/>
	<select>
  		<option value="bank-acct1">xxxx-9641</option>
  		<option value="bank-acct2">xxxx-2810</option>
  		<option value="donate">Donate to this weeks charity of choice!</option>
  	</select>
</header>
	<h4>Current Address: <%= link_to current_user.street , "https://www.google.com/maps/place/#{current_user.street.tr(" ", "+")}",:target => "_blank" %> </h4>
	<h4>Currently Scheduled Pickup:</h4> 
	<% current_user.pickups.where(completed: false).each do | f | %>
		<%= f.date.strftime("[%m|%d|%Y]") %>
	<% end %>
	<div id="pickup-scheduler">
			<%= form_for @pickup do |f| %>
		<div>
			<%= f.label :date %>
			<%= f.text_field :date, id: "datepicker" %>
		</div>		

 	<script>
	  
	  $(function() {
	    $( "#datepicker" ).datepicker({minDate: 0, dateFormat: 'yy-mm-dd'});
	    	    
	  });
	   
	  </script>		



	<%= f.submit "Schedule!" %>
	<% end %>
	</div>

	<div id="confirmations">
	<strong>Previous Successful Pickups!</strong>
	<% current_user.pickups.where(completed: true).each do | f | %>
		<%= f.date.strftime("[%m|%d|%Y]") %>
	<% end %>
		
	</div>

	<div id="charities">
		<table>
		  <tr>
		    <th>This Week's Charities</th>
		  </tr>
		  <tr>
		    <td>charity 1</td>
		    <td>charity 2</td>
		    <td>charity 3</td>
		  </tr>
		</table>
	</div>

	<% if current_user.id == current_user.id %>
		 
		 <%= link_to "Delete my account that helps save the world", current_user, method: :delete, data: { confirm: "Are you sure you want to delete this user?" } %>
	 <% end %>